{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>О магазине</h1>
            <hr/>
            <span class="lead">
                <p>eLot - example Lorem ipsum dolor sit amet</p>
                <p>Lorem ipsum:
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul></p>
            </span>
        </div>
    </div>
{% endblock %}